<section class="page-section cta" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <div class="operations__tab-container">
            <button
            class="btn operations__tab operations__tab--1 operations__tab--active"
            data-tab="1">
              About me
            </button>
            <button class="btn operations__tab operations__tab--2" data-tab="2">
              Skills
            </button>
            <button class="btn operations__tab operations__tab--3" data-tab="3">
              Languages
            </button>
          </div>
          <div class="operations__content operations__content--1 operations__content--active">
            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
          <%# <div class="cta-inner bg-faded text-center rounded"> %>
          <div class="operations__content operations__content--2">
            <div class="row justify-content-center align-items-center">
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg"></div>
              <%# <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg"></div> %>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" ></div>
              <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original-wordmark.svg"> </div>
            </div>
          </div>
          <%# </div> %>
          <%# <div class="cta-inner bg-faded text-center rounded"> %>
          <div class="operations__content operations__content--3">
            <p class="mb-0">If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
