<section class="page-section cta" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded  rounded ">
          <div class="operations__tab-container">
            <button
            class="btn operations__tab operations__tab--1 operations__tab--active"
            data-tab="1">
              About me
            </button>
            <button class="btn operations__tab operations__tab--2" data-tab="2">
              Skillsets
            </button>
            <button class="btn operations__tab operations__tab--3" data-tab="3">
              Languages
            </button>
          </div>
          <div class="operations__content operations__content--1 operations__content--active">
            <p> Hey there👋 , welcome to my portfolio.I am originally from China and based in Tokyo.In my past life, I worked in the logistics industry, but my insatiable curiosity led me on an exhilarating journey into the realm of web development.</p>
            <p>
              While working as a product coordinator, I collaborated closely with the tech team to troubleshoot system issues. The potential of technology to achieve the extraordinary left me awestruck, and my husband's prowess as a data analyst fueled my intrigue for coding.
            </p>
            <p>
              My adventure officially kicked off at Le Wagon Tokyo . With every hurdle I conquered, my appetite for knowledge grew stronger. The more I learned, the hungrier I became for the next coding puzzle.
            </p>
            <p>
              Currently, I'm laser-focused on honing my coding skills. My goal is to join the league of dedicated developers shaping the digital landscape.
            </p>
          </div>
          <%# <div class="cta-inner bg-faded text-center rounded"> %>
          <div class="operations__content operations__content--2">
            <div class="row skill-icon">
              <div >
                <p><strong>Front-end:</strong></p>
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg">
              </div>
              <div >
                <p><strong>Back-end:</strong></p>
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg">
              </div>
              <div class="col-1 col-md-1 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg">
              </div>
              <div >
                <p><strong>Others:</strong></p>
              </div>
              <div class="col-1 col-md-4 col-sm-4 col-lg-1 mb-4 tech-card d-flex  flex-column align-items-start">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original-wordmark.svg">
              </div>
            </div>
          </div>
          <%# </div> %>
          <%# <div class="cta-inner bg-faded text-center rounded"> %>
          <%# <div class="operations__content operations__content--3 text-center">
            <p class="mb-0">Japanese⭐️⭐️⭐️⭐️⭐️|English⭐️⭐️⭐️⭐️|Chinese⭐️⭐️⭐️⭐️⭐️|Korean⭐️⭐️⭐️⭐️</p>
          </div> %>
          <div class="operations__content operations__content--3 text-center">
            <div class="container inline-block mb-0">
              <div class="language-rating">⭐️⭐️⭐️⭐️⭐️
                <br>
                Japanese
              </div>
              <div class="language-rating">⭐️⭐️⭐️⭐️
                <br>
                English
              </div>
              <div class="language-rating">⭐️⭐️⭐️⭐️⭐️
                <br>
                Chinese
              </div>
              <div class="language-rating">⭐️⭐️⭐️⭐️
                <br>
                Korean
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
