<!-- banner-->
<div class="banner" id="home">
  <div class="p-5 text-center bg-body-tertiary ">
    <div class="container py-0">
      <img class="avatar mt-5 mb-2" src="images/mei8.JPG" alt="profile"/>
      <h2 class="text-body-emphasis pt-4">Mei, Tokyo</h2>
      <p class="col-lg-8 mx-auto lead">
        <%# I am a web developer %>
      </p>
      <div class="navigation-buttons d-flex justify-content-center mt-5 mb-2 gap-5">
        <a href="#about" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <%# <i class="fa-regular fa-address-card fa-2xl"></i> %>
            <i class="fa-regular fa-face-smile fa-lg"></i>
            <span style="margin-top: 1rem;">About</span>
          </div>
        </a>
        <a href="#projects" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <%# <i class="fa-solid fa-keyboard fa-2xl color"></i> %>
            <i class="fa-solid fa-unlock fa-lg"></i>
            <span style="margin-top: 1rem;">Projects</span>
          </div>
        </a>
        <a href="#resumes" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <i class="fa-regular fa-file fa-lg"></i>
            <span style="margin-top: 1rem;">Resume</span>
          </div>
        </a>
        <a href="#contact" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <%# <i class="fa-sharp fa-solid fa-paper-plane fa-2xl"></i> %>
            <i class="fa-duotone fa-solid fa-paper-plane fa-lg"></i>
            <span style="margin-top: 1rem;">Contact</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- skills-->
<%# <div class="container skill">
  <div class="content-section-heading text-center">
    <h2 class="mt-5">About me</h2>
  </div>
</div> %>
<section class="page-section cta" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="mb-4">
            <%# <span class="section-heading-upper"></span> %>
            About me
          </h2>
          <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
        </div>
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="mb-4">
            <%# <span class="section-heading-upper"></span> %>
            Skills
          </h2>
          <%# <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p> %>
          <div class="row justify-content-center align-items-center">
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg"></div>
            <%# <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg"></div> %>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" ></div>
            <div class="col-1 mb-4 tech-card d-flex justify-content-center align-items-center"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original-wordmark.svg"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
