<!-- banner-->
<div class="banner" id="home">
  <div class="p-5 text-center bg-body-tertiary ">
    <div class="container py-0">
      <img class="avatar mt-5 mb-2" src="images/mei8.JPG" alt="profile"/>
      <h2 class="text-body-emphasis pt-4">Hello, I am Mei</h2>
      <p class="col-lg-8 mx-auto lead">
        <%# I am a web developer %>
      </p>
      <div class="navigation-buttons d-flex justify-content-center mt-5 mb-2 gap-5">
        <a href="#about" class="navigation-button-link">
          <div class="navigation-button d-flex flex-row justify-content-center align-items-center">
            <%# <i class="fa-regular fa-address-card fa-2xl"></i> %>
            <i class="fa-regular fa-face-smile fa-sm"></i>
            <span class="my-2">About</span>
          </div>
        </a>
        <a href="#projects" class="navigation-button-link">
          <div class="navigation-button d-flex flex-row justify-content-center align-items-center">
            <%# <i class="fa-solid fa-keyboard fa-2xl color"></i> %>
            <i class="fa-solid fa-unlock fa-sm"></i>
            <span class="my-2">Projects</span>
          </div>
        </a>
        <%# <a href="#resumes" class="navigation-button-link">
          <div class="navigation-button d-flex flex-row justify-content-center align-items-center">
            <i class="fa-regular fa-file fa-lg"></i>
            <span style="margin-top: 1rem;">Resume</span>
          </div>
        </a> %>
        <a href="#contact" class="navigation-button-link">
          <div class="navigation-button d-flex flex-row justify-content-center align-items-center">
            <%# <i class="fa-sharp fa-solid fa-paper-plane fa-2xl"></i> %>
            <i class="fa-duotone fa-solid fa-paper-plane fa-sm"></i>
            <span class="my-2">Contact</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
