<%# navbar %>
<%# <header class="container navbar-0">
  <!-- <h1>Xuemei Huang | Portfolio</h1> -->
  <nav class="links">
    <ul>
      <li><a class="active" href="#work">Project</a></li>
      <li><a href="#work">About</a></li>
      <li><a href="#work">Contact</a></li>
    </ul>
  </nav>
</header> %>
<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#page-top">Portfolio</a></li>
    <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
    <li class="sidebar-nav-item"><a href="#about">About</a></li>
    <li class="sidebar-nav-item"><a href="#portfolio">Projects</a></li>
    <li class="sidebar-nav-item"><a href="#contact">Contact</a></li>
  </ul>
</nav>
<!-- banner-->
<div class="banner">
  <div class="p-5 text-center bg-body-tertiary ">
    <div class="container py-0">
      <h1 class="text-body-emphasis">Meifruit</h1>
      <img class="avatar mt-5 mb-2" src="images/mei5.JPG" alt="profile"/>
      <p class="col-lg-8 mx-auto lead">
        <%# I am a web developer %>
      </p>
      <%# <footer class="footer text-center">
        <div class="container px-4 px-lg-5">
          <ul class="list-inline mb-5">
            <li class="list-inline-item">
              <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
            </li>
          </ul>
        </div>
      </footer> %>
      <div class="navigation-buttons d-flex justify-content-center my-5 gap-5">
        <a href="#about" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <%# <i class="fa-regular fa-address-card fa-2xl"></i> %>
            <i class="fa-regular fa-face-smile fa-lg"></i>
            <span style="margin-top: 1rem;">About</span>
          </div>
        </a>
        <a href="#projects" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <%# <i class="fa-solid fa-keyboard fa-2xl color"></i> %>
            <i class="fa-solid fa-unlock fa-lg"></i>
            <span style="margin-top: 1rem;">Projects</span>
          </div>
        </a>
        <a href="#resumes" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <i class="fa-regular fa-file fa-lg"></i>
            <span style="margin-top: 1rem;">Resume</span>
          </div>
        </a>
        <a href="#contact" class="navigation-button-link">
          <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
            <%# <i class="fa-sharp fa-solid fa-paper-plane fa-2xl"></i> %>
            <i class="fa-duotone fa-solid fa-paper-plane fa-lg"></i>
            <span style="margin-top: 1rem;">Contact</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- skills-->
<div class="container skill">
  <div class="content-section-heading text-center">
    <h2 class="mt-5">About me</h2>
  </div>
</div>
<!-- projects-->
<section class="content-section" id="portfolio">
  <div class="container px-4 px-lg-5 pt-5">
    <div class="content-section-heading text-center">
      <%# <h3 class="text-secondary mb-0">Portfolio</h3> %>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="container-card row gx-0">
      <% data.projects.each do |project| %>
        <div class="portfolio-card col-lg-4">
          <a class="portfolio-item" href="#!">
            <%= image_tag project.image, alt: "project image", class: "img-item"%>
            <div class="caption">
              <div class="caption-content">
                <div class="h2"><%= project.name %></div>
                <p class="mb-0"><%= project.description%></p>
                <span>
                  <% if project.icons %>
                    <% project.icons.each do |icon| %>
                      <i class="devicon-<%= icon %>"></i>
                    <% end %>
                  <% end %>
                </span>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer text-center">
  <div class="container px-4 px-lg-5">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
      </li>
    </ul>
    <p class="text-muted small mb-0">&copy; Meifruit 2023</p>
  </div>
</footer>
