
<header class="navbar-0" >
 <h1>Xuemei Huang | Portfolio</h1>
 <nav class="links">
  <ul>
   <li><a class="active" href="#work">Project</a></li>
   <li><a href="#work">About</a></li>
   <li><a href="#work">Contact</a></li>
  </ul>
 </nav>
</header>
