// .banner {
//   height: 100vh;
// }
.banner {
  // background-color: #176b87;
  background-color: #63888c;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  // padding-top: 4rem;
  // padding-bottom: 4rem;
  // background: linear-gradient(
  //     90deg,
  //     rgba(255, 255, 255, 0.1) 0%,
  //     rgba(255, 255, 255, 0.1) 100%
  //   )
  // url("../assets/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation-button-link {
  color: #a5e0f3;
  text-decoration: none;
}
.text-body-emphasis {
  text-shadow: 0 0 7px #8fcdd1, 0 0 10px #8fcdd1, 0 0 42px #8fcdd1,
    0 0 82px #8fcdd1;
}
