// .banner {
//   height: 100vh;
// }
.banner {
  // background-color: #176b87;#63888c;
  background-color: #06465b;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  // padding-top: 4rem;
  // padding-bottom: 4rem;
  // background: linear-gradient(
  //     90deg,
  //     rgba(255, 255, 255, 0.1) 0%,
  //     rgba(255, 255, 255, 0.1) 100%
  //   )
  // url("../assets/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #cdcfd1;
  text-transform: uppercase;
  // font-weight: 400;
  background-color: #06465b;
  padding: 0.5rem 1.1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
.navigation-button:hover {
  color: #26afeb;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.1rem;
  margin-right: 1rem;
  display: block;
  transition: all 0.3s;
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 0px rgb(20, 20, 20);
}
.navigation-buttons i {
  padding-right: 0.5rem;
  color: #c5c2c2;
  font-size: 0.8rem;
}
.navigation-button-link {
  color: #a5e0f3;
  text-decoration: none;
}
.text-body-emphasis {
  // text-shadow: 0 0 7px #8fcdd1, 0 0 10px #8fcdd1, 0 0 42px #8fcdd1,
  //   0 0 82px #8fcdd1;
  text-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
/* Adjust styles for tablet screens (min-width: 768px) */
@media (min-width: 768px) {
  // .banner {
  //   min-height: 30rem; /* Adjust the height for larger screens (tablets) */
  // }
  // h2.text-body-emphasis {
  //   font-size: 2rem; /* Adjust the font size for tablets */
  // }

  // .navigation-button {
  //   font-size: 1.2rem; /* Adjust the font size for tablets */
  // }
}

/* Adjust styles for iPad screens (min-width: 768px) and (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    min-height: 30rem; /* Adjust the height for iPads */
  }
  .avatar {
    width: 20vh; /* Adjust the width for iPads */
  }
  h2.text-body-emphasis {
    font-size: 1.8rem; /* Adjust the font size for iPads */
  }

  .navigation-button {
    font-size: 1rem; /* Adjust the font size for iPads */
  }
  .btn {
    padding: 0; /* Remove padding for iPhones */
    font-size: 0.8rem;
  }
}

/* Adjust styles for larger screens (min-width: 992px) */
@media (min-width: 992px) {
  // .banner {
  //   min-height: 40rem; /* Adjust the height for even larger screens (laptops/desktops) */
  // }
  // .avatar {
  //   width: 15vh; /* Adjust the width for even larger screens (laptops/desktops) */
  // }
  // h2.text-body-emphasis {
  //   font-size: 2.5rem; /* Adjust the font size for larger screens */
  // }

  // .navigation-button {
  //   font-size: 1.5rem; /* Adjust the font size for larger screens */
  // }
  .btn {
    padding: 0; /* Remove padding for iPhones */
    font-size: 0.8rem;
  }
}

/* Adjust styles for mobile phones (max-width: 767px) */
@media (min-width: 375px) and (max-width: 896px) {
  .banner {
    min-height: 20rem;
  }
  .avatar {
    width: 20vh;
  }

  h2.text-body-emphasis {
    font-size: 1.5rem;
  }

  .navigation-buttons {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: nowrap;
    gap: 0.2rem; /* Add spacing between buttons */
    flex-direction: row; /* Stack the navigation buttons vertically */
  }

  .navigation-button {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.1rem 0.1rem;
  }
  .navigation-button i {
    // font-size: 0.6rem; /* You can adjust the size as needed */
    display: none;
  }
  /* Adjust width for responsiveness */
  .cta .cta-inner {
    padding: 1rem;
    margin: 0.5rem;
  }
  .btn {
    padding: 0; /* Remove padding for iPhones */
    font-size: 0.8rem;
  }
  .navigation-button {
    /* ... (other styles) ... */

    /* Reset hover styles for phone size */
    transition: none;
    transform: none;
    box-shadow: none;
  }
  /* Reset hover styles for phone size */
  .navigation-button:hover {
    color: inherit;
    background-color: transparent;
    font-size: none;
    margin-right: 0;
    box-shadow: none;
  }
}
