// .banner {
//   height: 100vh;
// }
.banner-background {
  background-color: #176b87;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 300px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  // background: linear-gradient(
  //     90deg,
  //     rgba(255, 255, 255, 0.1) 0%,
  //     rgba(255, 255, 255, 0.1) 100%
  //   )
  // url("../assets/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
