// Specific CSS for your home-page
header h1 {
  display: inline-block;
  font-weight: 300;
  // margin: 0;
  margin: 0 32px 0 0;
}
.links {
  display: inline-flex;
}

.links li {
  display: inline-block;
}
.links ul {
  // margin: 0;
  // padding: 0;
  float: right;
  margin-right: 20px;
}

.links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}
.navbar-0 {
  margin: 32px;
}
a.active {
  border-bottom: 2px solid black;
  padding-bottom: 1px;
}

// skills

.skill {
  background-color: azure;
}
// footer

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer.footer .social-link {
  display: block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.6rem;
  background-color: #63888c;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

// projects
.col-lg-4 {
  padding: 10px; /* Adjust the padding value as needed */
}

// icon
.caption span {
  color: #cccccc;
  font-size: 22px;
}

// about me
.cta {
  padding-top: 5rem;
  // padding-bottom: 5rem;
  // background-color: rgba(230, 167, 86, 0.9);
}
.cta .cta-inner {
  position: relative;
  padding: 1rem;
  padding-top: 0;
  margin: 0.5rem;
}
.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  z-index: -1;
}

.section-heading {
  text-transform: uppercase;
}
.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}
.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: #f4e0e08c;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// stack icon
.tech-card img {
  width: 50px;
  height: auto;
}
