<%= partial 'partials/navbar' %>
<!-- navbar Section -->
<!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%#= partial 'partials/projects' %>
  <%= partial 'partials/project1' %>
  <!-- Social Links Section -->
  <%#= partial 'partials/social' %>
</div>
